<!doctype html>
<html>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<img class="logo" src="IMG/MHP_LOGO_w.svg"/>
<br/>
    <div class="insight">MHPInsight 2016</div>
<section class="is-offset-6 is-4 center width">
    <form action="/login" method="post">
        <p class="control">
            <input class="input inputfield" type="text" placeholder="Vorname.Nachname" name="email"/>
        </p>
        <p class="control">
            <input class="input inputfield" type="password" placeholder="Password" name="password"/>
        </p>
        <button type="submit" class="button is-success Loginbtn">Login</button>
    </form>
    <span class="center">
            <p><a href="/signup">Registrieren</a></p>
        </span>
</section>
</html>
