<!doctype html>
<html>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<section class="is-offset-6 is-4 center width">
    <img src="IMG/mhp_logo.svg"/>
    <span class="insightMHP">MHP</span>
    <span class="insight">Insight 2016</span>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/login" method="post">
        <p class="control">
            <input class="input inputfield" type="text" placeholder="User" name="email"/>
        </p>
        <p class="control">
            <input class="input inputfield" type="password" placeholder="Password" name="password"/>
        </p>
        <button type="submit" class="button is-success Loginbtn">Login</button>
    </form>
    <span class="center">
            <p><a href="/signup">Registrieren</a></p>
        </span>
</section>
</html>
