<!doctype html>
<html>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<section class="is-offset-6 is-4 center width">

    <span class="insight">Anmelden</span>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
            <p class="control">
                <input class="input inputfield" type="text" placeholder="vorname.nachname" name="email"/>
            </p>
        <button type="submit" class="button is-success Loginbtn">Anmelden</button>
    </form>

</section>
</html>
