<!doctype html>
<html>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<section class="is-offset-6 is-4 center width">

    <span class="insight">Anmelden</span>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
            <p class="control">
                <input class="input inputfield" type="text" placeholder="Bitte User eingeben" name="email"/>
            </p>
        <button type="submit" class="button is-success Loginbtn">Anmelden</button>
    </form>

</section>
</html>
