html{
    background-color: #0D2843;
    color: #fff;
}


body{
    text-align: center;
    background-color: #0D2843;
}

input::-webkit-input-placeholder {
    color: #fff !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff !important;
}

input:-ms-input-placeholder {
    color: #fff !important;
}

.logo {
    width: 150px;
    margin-top: 2%;
    margin-bottom: 2%;

}
.insightCenter{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 270px;
}

.insight {
    font-size: 36px;
    font-weight: 200;
    text-align: left;

}

.insightMHP {
    font-size: 36px;
    text-align: center;
    font-weight: 200;
    font-family: bold;
    margin-right: 2%;
    text-align: center;
    float: left;
}

.formEmail {
    float: right;
    border-bottom: 1px solid;
    width: auto;
    font-size: 16px;
    height: 27px;
    padding-top: 5px;
}

/* Login */
.Loginbtn {
    background-color: #0D2843!important;
    border: 1px solid #fff!important;
    box-shadow: 5px 10px 15px #000!important;
    color: #ffffff!important;
    font-size: 16px!important;
    height: 30px!important;
    width: 250px!important;
    margin-top: 3%!important;
    text-shadow: none!important;
    padding: 0px;
}

.inputfield {
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid;
    border-bottom-color: #fff;
    border-radius: 0px;
    background-color: #0D2843;
    color: #fff;
    font-size: 16px;
    height: 30px;
    width: 250px;
}
 .passreset{
     color: grey;
     font-size: 14px;
 }

 .sekLink{
     text-decoration: none;
 }

 .pagestyle{
     background-color: #0D2843;
     color: #fff;
     text-shadow: none!important;
 }
.webkit{
    text-align: -webkit-center;
    text-align: -moz-center
}
 .formstyle{
     width: 250px;
 }
